<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2B사업팀 HappyDay</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
    
    
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>

    <script type="text/javascript">
    </script>
    
    <script type="text/javascript">
    
        function goDetail(id) {
            location.href = '../detail/' + id;
        }
        
        function goPostList(id) {
            location.href = '../detail/' + id + '/postlist';
        }
        
    </script>
    
    
    <style type="text/css">
        @import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
        body {
            font-family: 'Jeju Gothic', serif !important;
            padding-top: 80px;
            background-color:#e2e2e2;
        }
        
        .ui.card>.content>.header,
        .ui.cards>.card>.content>.header {
            display: block;
            font-family: 'Jeju Gothic', serif;
            color: rgba(0, 0, 0, .85);
        }
        
        .ui link cards {
            margin-top: 30p;
        }
        
        .ui.image.label {
            margin-top: .4em;
        }
        

        
    </style>

</head>

<body>
    <!-- Navigation -->
    <% include ./partials/navigation.ejs %>

    <!-- Page Content -->
    <div class="container">
        <div class="content">
            <div class="header" href="#"><h1><%= data.happyday_name %></h1></div>

            <div class="ui segment">
                <img class="ui centered fluid image" src=<%=data.img_url%>>
                <div class="yellow two ui buttons">
                    <button class="ui button" onClick="javascript:goDetail('<%=data.happyday_id%>')">상세보기</button>
                    <button class="ui button" onClick="javascript:goPostList('<%=data.happyday_id%>')">후기보기</button>
                </div>
                <p> </p>
                <div class="image">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg" onClick="alret('나는 오원석이다!!')"> 
                    <span> 작성자 : <%= data.user_name %> ( <%=data.org_nm%> ) </span>
                </div>
                <div class="meta">
                    <span style="color:#FFCC00">#스포츠 #야구 #관람</span>
                    <span class="right floated">작성일 : <%= data.reg_dtm %> </span>
                    <p> </p>
                </div>
                
                <div class="ui labeled button" tabindex="0">
                    <div class="ui yellow button">
                        <i class="heart icon"></i> Like
                    </div>
                    <a class="ui basic red left pointing label">1,048</a>
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui gray button">
                        <i class="feed icon"></i> Feed
                    </div>
                    <a class="ui basic red left pointing label">10</a>
                </div>
                
                <div class="ui segment">
                    <p>- 일    시 : <%= data.happyday_dt %></p>
                    <p>- 장    소 : <%= data.place_name %></p>
                    <p>- 모집인원 : <%= data.num_participants %>명</p>
                    <p>  * 모집 조건(타 SM구성원 2명 이상 참가)</p>
                    <p>- 모집기간 : <%= data.reg_dtm %> ~ <%= data.dday_dt %></p>
                    <p>- 참가포인트 : <%= data.req_point%>P <div class="ui floating labeled icon dropdown button">
                            <i class="filter icon"></i>
                            <span class="text">상세내역보기</span>
                            <div class="menu">
                                <div class="ui error message">
                                    <p>1. 야구관람 티켓 : 1,500P</p>
                                    <p>2. 치킨 & 맥주   : 1,000P</p>
                                </div>
                            </div>
                        </div>
                    </p>
                    <p>-내     용</p>
                    <p><%= data.happyday_contents %></p>
                </div>
                
                <div class="ui segment">
                    <img class="ui centered fluid image" src="http://cfile26.uf.tistory.com/image/18670B3B4E6435E6347713">    
                </div>
                
                <div class="image"> * 신청현황보기 (3/8)

                    <% for (var i = 0; i < data1.length; i++) { %>
                        <p><img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg" onClick="alert('나는 오원석이다!!')">
                        <span> <%=data1[i].user_name%> (<%=data1[i].org_nm%>) </span></p>
                       
                    <% } %>
                    
                    
                </div>
                
            </div>
            
            <button class="ui primary button">신청</button>
            <button class="ui button">취소</button>

        </div> <!-- content -->


        <div class="header">====이전 관련 활동보기====</div>
        
        <div class="ui link cards">
            <div class="card">
                <div class="content">

        <div class="right floated meta">등록 2017.2.21</div>
        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg"> 임현우(B2B플랫폼)
      
                </div>
                <div class="image">
                    <img src="http://www.image114.co.kr/files/attach/images/170/065/039/DSC_3496.png">
                </div>
                <div class="content">
                    <div class="header">삼성 VS LG 야구 보러갑시다!!</div>
                    <div class="meta">
                        <p>B2B플랫폼 홍길동</a>
                    </div>
                    <div class="description">
                       <p>
                           
                       </p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
        필요 마일리지
      </span>
                    <span>
        <i class="user icon"></i>
        75 Friends
      </span>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="http://www.image114.co.kr/files/attach/images/170/065/039/DSC_3496.png">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
        Joined in 2013
      </span>
                    <span>
        <i class="user icon"></i>
        75 Friends
      </span>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="http://www.image114.co.kr/files/attach/images/170/065/039/DSC_3496.png">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
        Joined in 2013
      </span>
                    <span>
        <i class="user icon"></i>
        75 Friends
      </span>
                </div>
            </div>
        </div>
    </div>
</body>


<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/avatar/large/chris.jpg">
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>



</html>
