<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2B사업팀 HappyDay</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->

    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <!--    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">-->



    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    <script src="/dist/components/visibility.js"></script>
    <script src="/dist/components/sidebar.js"></script>
    <script src="/dist/components/transition.js"></script>

    <!--    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>-->

    <script type="text/javascript">


        function goDetail(id) {

            location.href = '../detail/' + id;

        }

        function goRegist() {

            location.href = '../postreg_KJB';

        }

        function showParticipants(happy_id) {

            $.ajax({
                type: "post",
                url: "/showparticipants",
                data: {
                    happyday_id: happy_id
                },

                success: function(data) {
                    
                    alert(data.peoplelist)
                    $('#cards').html(data.peoplelist);
                    $('#partymodal').modal('show');
                    
                    
                    
                   
                    
                },
                error: function(e) {
                    alert(e.responseText);
                }

            });

        }
    </script>


    <style type="text/css">

        
        .ui.card>.content>.header,
        .ui.cards>.card>.content>.header {
            display: block;
            font-family: 'Jeju Gothic', serif;
            color: rgba(0, 0, 0, .85);
        }
        
        .ui link cards {
            margin-top: 30px;
        }
        
        .ui.image.label {
            margin-top: .4em;
        }
        
        
        

        

    </style>

</head>

<body>


 <!-- Navigation -->
    <% include ./partials/navigation.ejs %>


    <!-- Page Content -->
    <div class="ui container">

        <div class="ui link cards">


            <div class="ui centered card" onclick="javascript:goRegist()" style="padding:.5em;">


                <h2 class="ui icon header">
                    <i class="massive yellow add circle icon"></i>
                    <div class="content" style=" ">
                        새 해피데이 등록
                        <div class="sub header" style="margin-top:.4em">해피데이를 등록해주세요!</div>
                    </div>
                </h2>


            </div>



            <% for (var i = 0; i < data.length; i++) { %>


                <div class="ui centered card">
                    <div class="content" onclick="javascript:goDetail('<%=data[i].happyday_id%>')" style="background-color:#ee5252;  max-height:56px">

                        <div class="right floated meta" style="margin-top: 7px; font-size:0.9em">등록
                            <%=data[i].reg_dtm%>
                        </div>
                        <img class="ui avatar image" src="<%=data[i].user_img%>"> <span style="color:#fff"><%=data[i].user_name%> (B2B플랫폼)</span>

                    </div>
                    <div onclick="javascript:goDetail('<%=data[i].happyday_id%>')" class="image">
                        <img src="<%=data[i].img_url%>" style="height: 200px;">
                    </div>
                    <div onclick="javascript:goDetail('<%=data[i].happyday_id%>')" class="content">
                        <div class="header">
                            <%=data[i].happyday_name%>
                        </div>

                        <div class="description">
                            <p>
                                모임일자 :
                                <%=data[i].happyday_date%> (
                                    <%=data[i].week%>)
                                        <%=data[i].happy_time%>
                            </p>
                            <p>
                                장소 :
                                <%=data[i].place_name%>
                            </p>

                        </div>
                    </div>
                    <div onclick="javascript:goDetail('<%=data[i].happyday_id%>')" class="extra content">
                        <span>
        <i class="user icon"></i>
        모집인원 <%=data[i].num_participants%>명(<%=data[i].vacancy%>자리남음)
      </span>
                    </div>

                    <div class="extra content">
                        <span onclick="javascript:showParticipants('<%=data[i].happyday_id%>')"><i class="user icon"></i>현재 참가자 (<%=data[i].num_participants-data[i].vacancy%>명 클릭해서 확인)</span>

                    </div>

                    <div class="extra content">
                        <span>
        <i class="diamond icon"></i>
        필요포인트 
      </span>
                        <div class="right floated">
                            <%=data[i].req_point%> P</div>
                    </div>
                </div>

                <% } %>



        </div>
    </div>



    <div class="ui small test modal" id='partymodal'>
        <div class="header">
            현재 참가자
        </div>
        <div class="content">
            <div id="cards" class="ui eight doubling cards">
<!--카드들..-->
      
      
    </div>
            
            
        </div>
        <div class="actions">
            <div class="ui positive button">
                확인
            </div>
        </div>
    </div>

</body>





</html>
