<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2B사업팀 HappyDay</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
    
    
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>

    <script type="text/javascript">
    </script>
    
    <script type="text/javascript">
    
        function goDetail(id) {
            location.href = '../../detail/' + id;
        }
        
        function goPostList(id) {
            location.href = '../../detail/' + id + '/postlist';
        }
        
    </script>
    
    
    <style type="text/css">
        @import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
        body {
            font-family: 'Jeju Gothic', serif !important;
            padding-top: 80px;
            background-color:#e2e2e2;
        }
        
        .ui.card>.content>.header,
        .ui.cards>.card>.content>.header {
            display: block;
            font-family: 'Jeju Gothic', serif;
            color: rgba(0, 0, 0, .85);
        }
        
        .ui link cards {
            margin-top: 30p;
        }
        
        .ui.image.label {
            margin-top: .4em;
        }
        

        
    </style>

</head>

<body>
    <!-- Navigation -->
    <% include ./partials/navigation.ejs %>

    <!-- Page Content -->
    <div class="container">
        <div class="content">
            <div class="header" href="#"><h1><%= data[0].happyday_name %></h1></div>

            <div class="ui segment">
                <img class="ui centered fluid image" src=<%=data[0].img_url%>>
                <div class="yellow two ui buttons">
                    <button class="ui button" onClick="javascript:goDetail('<%=data[0].happyday_id%>')">상세보기</button>
                    <button class="ui button" onClick="javascript:goPostList('<%=data[0].happyday_id%>')">후기보기</button>
                </div>
                <p> </p>
                <% for (var i=0; i < data.length; i++) { %>
                    <div class="ui segment" onclick=javascript:showContent("<%=data[i].post_id %>") >
                    <p>
                    <%=data[i].post_title %>
                    <input type="text" value=<%=data[i].post_id %>>
                    </p>
                    <p>
                    <%=data[i].user_name %> 시간
                    </p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
 
<!--조회모달 start-->
    <div class="ui modal Select">
        <div class="header">
            <h2 id='postselect_title'></h2>
        </div>
    <!-- modal header -->
        <div class="content">
            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <img src="http://ph.joongboo.com/news/photo/201609/1104374_1013213_0804.jpg">
                    </div>
                    <div class="content">
                        <a class="header" id="postselect_writer">작성자</a>
                        <div class="meta">
                            <span id="postselect_time">시간</span>
                        </div>
                    <div class="description">
                        <p id="postselect_content">
                        해피데이 내용
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui primary button" id="happyday_post_update"> Update </button>
        <button class="negative ui button" id="happyday_post_delete"> Delete </button>
        <!--<button class="ui yellow submit approve button" id="submit" name="submit">regist</button>-->
        <div class="ui button" onclick=javascript:modalClose()> Cancel </div>
    </div>
</div>
<!--조회 모달 end-->

</body>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/avatar/large/chris.jpg">
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>



</html>
