<!DOCTYPE html>
<html>
  <head>
    <title>Happy App</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../dist/semantic.min.js"></script>
    
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/jquery.js"></script>
    
    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Semantic ui CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
    <!-- Custom CSS -->
    <link href="../stylesheets/common.css" rel="stylesheet">
    
    <script style="text/javascript">
      $(document)
        .ready(function() {
          /* 본인이면 수정 가능하도록 input elements enable 및 수정버튼 표시
             타인이면 input elements disable 및 수정버튼 미표시 */
          var page_user_id = <%=data.id %>
          var session_user_id = <%=session.user_id%>
          
          if(page_user_id != session_user_id) read_mode();
            else modify_mode();
        
        });
        
      function modify_mode() {
        
      }
      
      function read_mode() {
        $('.ui.button').hide();
        $('input').attr('readonly',true);
      }
      
      function update() {
        if(page_user_id != session_user_id) {
          alert("로그인한 사용자가 현재 정보의 사용자가 아닙니다.");
          
        } else {
          
          /* Ajax로 정보 업데이트 */
          var httpRequest;
          if(window.XMLHttpRequest) {
            httpRequest = new XMLHttpRequest(); 
          } else if(window.ActiveXObject) {
            try {
              httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
              try {
                httpRequest = new ActiveXObject("Microsoft.XMLHTTP");  
              } catch(e) {}
            }
          }
          
          if(!httpRequest) {
            alert('Cannot create an XMLHTTP instance');
            return false;
          }
          
          httpRequest.onreadystatechange = updateAjax;
          httpRequest.open('GET', url);
          httpRequest.send();
        }
      }
      
      function updateAjax() {
        if(httpRequest.readyState === 4) {
          if(httpRequest.status === 20) {
            /*
             * TODO : 처리
             */
          } else {
            alert("There was a problem with the request");
          }
        }
      }
      
      
    </script>
    
    <style type="text/css">
      .ui[class*="left icon"].input>input {
        padding-left: 3.67142857em!important;
      }
      .ui[class*="two column"].grid>.column:not(.row),.ui[class*="two column"].grid>.row>.column{width:350px};
    </style>
    
  </head>
  
  <body>
    <% include ./partials/navigation.ejs %>
    
    <div class="container">
      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui card">
            <div class="content">
              <div class="header"><i class="spy icon"></i><%=data.user_name%></div> <!-- junior : child, senior : spy, manager : users -->
              <h4 class="ui sub header"><%=data.sm_name%>(<%=data.team_name%>)</h4>
            </div>
            <div class="content">
              <h4 class="ui sub header">basic infomation</h4>
              <div class="ui small feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                       <div class="ui left icon input">
                         <input type="text" value='ljw82@sk.com'>
                         <i class="large mail icon"></i>
                        </div>
                    </div>
                  </div>
                </div>
                 <div class="event">
                  <div class="content">
                    <div class="summary">
                       <div class="ui left icon input">
                         <input type="text" value=<%=data.phone_number%>>
                         <i class="large text telephone icon"></i>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.birthday%>>
                         <i class="large birthday icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end of basic info -->
              <!-- 부가 정보 - 혈액형,주소,고향(사용자가 공개, 비공개 설정 가능)-->
              <h4 class="ui sub header">additional Infomation</h4>
              <div class="ui small feed">
                <!--div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui form">
                        <div class="field">
                          <select class="ui search dropdown">
                            <option value="A">A형</option>
                            <option value="B">B형</option>
                            <option value="AB">AB형</option>
                            <option value="O">O형</option>  
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div-->
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.blood_type%>>
                         <i class="large theme icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.address%>>
                         <i class="large hotel icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.home_town%>>
                         <i class="large home icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end of add info --> 
            </div>
            <!--div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Connected
              </a>
            </div-->
            <div class="extra content">
              <button class="ui button">수정</button>
            </div>
          </div> <!-- end div of info card -->
        </div>  
        <div class="column">
          <div class="ui card">
            <div class="content">
              <i class="right floated like icon"></i>
              <div class="header">TEAM ACTIVITY</div> <!-- junior : child, senior : spy, manager : users -->
            </div>
            <div class="content">
              <h4 class="ui sub header">point & mileage</h4>
              <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <div class="ui left icon input">
                       <input type="text" value=<%=data.happy_point%> readonly>
                       <i class="large product hunt icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <div class="ui left icon input">
                       <input type="text" value=<%=data.mileage%> readonly>
                       <i class="large gift icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div> <!-- end div of grid -->
    </div> <!-- end div of container -->

  </body>
</html>