<div>
    <p>
        <h3>안녕하세요~ 지금 신규 해피데이가 등록되었습니다.</h3>
        <h3>이번 해피데이의 내용을 간단히 소개하며, 2BHAPPY로 가셔서 참가신청을 해보세요~</h3>
        <h3>감사합니다:D</h3>
    </p>
    <div>
        <ul >
            <li value="*">등록자 : {{user_name}}</li>
            <li value="*">일시 : {{happyday_dt}}</li>
            <li value="*">장소 : {{place_name}}</li>
            <li value="*">내용 : {{contents}}</li>
            <li value="*">필요포인트 : {{req_point}}</li>
        </ul>
    </div>
</div>