<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  
  <!-- happyapp css -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
	
  <!--<title>MOBIG - Big Data Market</title>-->
  <title>mvnoprogress.ejs</title>

    <style type="text/css">
      #databtn {width: 200px;}
      #mainbtn {width: 200px;}
    </style>

  
</head>


<body class="text-center">
  
	<!-- Navigation -->
	<% include ../partials/navigation.ejs %>

    <div class="container">
      <div class="row">
        
        <!-- 1.요청한 item목록 -->
        <div class="text-center py-5">
          <div class="container">
              <div class="col-md-12">
                <h3 style="text-align:center;">Requested</h3>
              </div>
          </div>
        </div>
			<!-- req_id로 조회한 결과 -->
			<% if (req_data) { %>
        			
  			<div class="ui two column stackable grid container">
          <div class="column">
            <div class="ui segment">요청번호</div>
          </div>
          <div class="column">
            <div class="ui segment"> <%=req_data.req_id %></div>
          </div>
          <div class="column">
            <div class="ui segment">요청일시</div>
          </div>
          <div class="column">
            <div class="ui segment"> <%=req_data.req_dtm %></div>
          </div>
          <div class="column">
            <div class="ui segment">카테고리</div>
          </div>
          <div class="column">
            <div class="ui segment"> <%=req_data.column_nm1 %></div>
          </div>
          <div class="column">
            <div class="ui segment">선택종류</div>
          </div>
          <div class="column">
            <div class="ui segment"> <%if (req_data.item_nm1!=null){ %> <%=req_data.item_nm1 %><% } else { %> null <% } %></div>
          </div>
          <div class="column">
            <div class="ui segment">조회일자</div>
          </div>              
          <div class="column">
            <div class="ui segment"><%=req_data.sta_ym %> ~ <%=req_data.end_ym %></div>
          </div>  
        </div>
  		<% } %>
        
        <!-- 3.progress bar -->
        <div class="col-md-12 py-5">
            <a class="btn btn-primary btn-block" id="databtn" href="../mvnodatalist"> 분석현황 </a>
            <a class="btn btn-primary btn-block" id="mainbtn" href="../mvnomain"> 새로운 데이터 분석 </a>
        </div>
        
      </div>
  </div>
  

	<!-- footer -->
	<% include ../partials/footer.ejs %>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
  
</body>

</html>