<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  
  <!-- happyapp css -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
	
  <!--<title>MOBIG - Big Data Market</title>-->
  <title>mvnodatalist.ejs</title>

  <style>
    #title {border-bottom:#00b0eb 5px; border-bottom-style:solid;}
    #ln {height:4px; width:90%; background-color:#4db8dc; margin:auto;}
    #frame {width:100%; padding-top:10px !important;}
    #frame .iframe {width:90%;height:80%; margin:auto;}
    #semi-title {padding-top:60px; padding-bottom:30px; margin-left:6%; text-align:left;}
    
    #reqlist {width:90%; margin:auto; text-align:center;}
    #reqlist td {
    
  </style>

  <script>
    var totalCount = <%=req_list.length%>; //전체 건수
    var totalPage = Math.ceil(totalCount/10);//페이지 수
    var PageNum;
    var page;
    /*function(){    
        page = parseInt($("input").val());
        drawPage(page);
    };*/
    
    function drawPage(goTo){        
        page = goTo;    
        var pageGroup = Math.ceil(page/10);    //페이지 그룹 넘버링
        var next = pageGroup*10;
        var prev = next-9;            
        var goNext = next+1;

        if(prev-1<=0){
            var goPrev = 1;
        }else{
            var goPrev = prev-1;
        }    

        if(next>totalPage){
            var goNext = totalPage;
            next = totalPage;
        }else{
            var goNext = next+1;
        }

        var prevStep = "<li class=\"page-item\"> <a class=\"page-link\" aria-label=\"Previous\" href='javascript:drawPage("+goPrev+");'>   <span aria-hidden=\"true\">«</span> <span class=\"sr-only\">Previous</span>  </a> </li>";
        var nextStep = "<li class=\"page-item\"> <a class=\"page-link\" aria-label=\"Next\" href='javascript:drawPage("+goNext+");'>   <span aria-hidden=\"true\">»</span> <span class=\"sr-only\">Next</span>  </a> </li>";


        $("#pageZone").empty();
        $("#pageZone").append(prevStep);

        for(var i=prev; i<=next;i++){
            PageNum = "<li class=\"page-item\"> <a class=\"page-link\" href='javascript:alert("+i+"번 페이지);'>"+ i +"</a> </li>";
            $("#pageZone").append(PageNum);
        }    

        $("#pageZone").append(nextStep);    
    }    
  
    $(document).ready(function() { drawPage(1); });
  </script>

</head>

<body class="text-center">
  
	<!-- Navigation -->
	<% include ../partials/navigation.ejs %>

  <!-- 2.select items -->
  <div class="text-center py-5" id="title">
    <div class="container">
        <div class="col-md-12">
          <h3 style="text-align:center;">My Data Page</h3>
        </div>
    </div>
  </div>
  
      <!-- 결과테이블 -->
  <div id="semi-title">
    <h4>* 요청 정보</h4>
  </div>
  <table class="ui blue table sortable celled" id="reqlist">
    <thead>
      <tr>
        <th>요청번호</th>
        <th>카테고리</th>
        <th>요청 데이터</th>
        <th>요청자</th>
        <th>요청날짜</th>
      </tr>
    </thead>
    <tbody>
    <% for (var i=0; i < req_list.length; i++) { %>
      <tr>
        <td><%=req_list[i].req_id %></td>
        <td>MVNO Data</td>
        <td>
            <a href="/mvno/mvnoresult/<%=req_list[i].req_id%>"><%=grpId[i]%></a>
        </td>
        <td><%=req_list[i].user_name%></td>
        <td><%=req_list[i].req_dtm %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <div>
    <ul id="pageZone" class="pagination">

    </ul>
  </div>


  <div class="py-5">
    <div id="ln"></div>
  </div>
  
	<!-- footer -->
	<% include ../partials/footer.ejs %>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
  
  
</body>

</html>