<!DOCTYPE html>
<html lang="en">

<head>

  

    <title>B2B사업팀 HappyDay</title>

    <script src="../../javascripts/jquery.js"></script>
    <script src="../../javascripts/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>

    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script> 
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  
  
  
    <script type="text/javascript">
        var cur_num_users = <%= userList.length %>
        
        var rereply_flag = 0
        var updatereply_flag = 0
        
        $(document).ready(function() {
            $('.ui.accordion').accordion();
            HideUpdateReplyForm();
            
            /* 1. 미완료(I) 이면 모든 버튼 none -> 기본 none
               2. 완료(C) 이면 완료버튼 표시
               3. 진행중(Y) 이면
                  3-1. 본인이면
                        1) 출발일 전 - 수정 및 삭제버튼 표시
                        2) 출발일 후 - 완료 및 미완료버튼 표시
                  3-2. 타인이면 
                       1) 참가 전 - 참가신청버튼 표시
                       2) 참가 후 - 신청취소버튼 표시
            */
            var state = "<%=data.state%>";
            var regUserId = <%=data.reg_user_id %>;
            var sessionUserId = <%=session.user_id%>;
            
            if(state == "C") {
                $('#end_button').show();
            }
            
            if(regUserId == sessionUserId){
                // alert("내가 작성자일 때,");
                // $('#apply_button').hide();
                // $('#cancel_button').hide();
                
                //출발일이 지나면 완료, 미완료 버튼을 표시
                var departure_dt = <%= data.departure_dt %>;
                if(new Date().yyyymmdd() > departure_dt) {
                    $('#complete_button').show();
                    $('#incomplete_button').show();
                    $('#modify_button').hide();
                    $('#delete_button').hide();
                }else {
                    $('#modify_button').show();
                    $('#delete_button').show();
                }
            }else if(state == "Y") {
                if(regUserId == sessionUserId){
                    //출발일이 지나면 완료, 미완료 버튼을 표시
                    var departure_dt = <%= data.departure_dt %>;
                    if(new Date().yyyymmdd() > departure_dt) {
                        $('#complete_button').show();
                        $('#incomplete_button').show();
                        $('#modify_button').hide();
                        $('#delete_button').hide();
                    }else {
                        $('#modify_button').show();
                        $('#delete_button').show();
                    }
                }else{
                    // alert("내가 작성자가 아닐 때,");
                    var reg_state = "<%= reg_state %>";
                    initApplyCancel(reg_state);
                }
            }
            
            // 카테고리 셋팅
            var categoryCode2 = "<%=data.category_code2%>";
            var categoryCode3 = "<%=data.category_code3%>";
            if(categoryCode2 != ""){
                if(categoryCode3 != ""){
                    $('#category3').show();
                }
                else{
                    $('#category3').hide(); 
                }
                $('#category2').show();
            }
            else{
                $('#category2').hide();
                $('#category3').hide();
            }
            $('#category').show();
            
            // 좋아요 셋팅
            var likeState = "<%= like_state %>";
            if(likeState == "Y"){
                $('#likeY').show();
                $('#likeN').hide();
            }
            else{
                $('#likeY').hide();
                $('#likeN').show();
            }

        });
        
        function initApplyCancel(reg_state) {
            if(reg_state == "N"){
                // 사용자가 신청 목록에 없을 때
                $('#apply_button').show();
                $('#cancel_button').hide();
            }
            else{
                // 사용자가 신청 목록에 있을 때
                $('#apply_button').hide();
                $('#cancel_button').show();
            }
        }
        
        function goDetail(id) {
            location.href = '../detail/' + id;
        }
        
        function goPostList(id) {
            location.href = '../detail/' + id + '/postlist';
        }
        
        function infoUser(user_id) {
            $.ajax({
                type: "post",
                url: "/infouser",
                data: {
                    user_id : user_id
                },
                success: function(data) {
                    
                    $('#modal_user_img').html("<img src=" + data.user.user_img + " style='margin-top: 7px; font-size:0.9em; width:100%; max-height: 300px; border:#000000 solid 1px'>"); 
                    $('#modal_user_name').html("이름 : " + data.user.user_name);
                    $('#modal_user_sm_name').html("소속 : " + data.user.sm_name);
                    $('#modal_user_phone_number').html("번호 : " + data.user.phone_number);
                    $('.ui.modal').modal('show');
                },
                error: function(e) {
                    alert(e.responseText);
                }
            });
        }
        
        
        //등록 파트에서 수정
        function modifyHappyday(id) {
            location.href = '../detail/' + id + '/hduppopup';
        }
        
        // 해피데이 삭제하기
        function deleteHappyday(happyday_id) {
            if(confirm("등록한 해피데이 및 참가신청 정보가 삭제됩니다.\n정말로 삭제하시겠습니까?")) {
                location.href = '../deletehappyday/' + happyday_id;
            }
        }
        
        // 해피데이 미완료 처리하기
        function incompleteHappyday(happyday_id) {
            if(confirm("활동하지 못한 해비데이를 미완료 처리합니다.\n미완료로 남기는 것을 진행하시겠습니까?")) {
                location.href = '../incompletehappyday/' + happyday_id;
            }
        }
        // 해피데이 신청하기
        function applyHappyday(happyday_id, req_point) {
            
            if(!availableApply()) return;
            
            var data = {};
            data.happyday_id = happyday_id;
            data.req_point = req_point;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/applyhappyday',
                success: function(result) {
                    if(result.status == 200){
                        // 1. 포인트 체크
                        
                        if(result.checkpoint == "N") {
                            alert("현재 남아았는 포인트가 참가 포인트보다 적어 참가 신청할 수 없습니다.");
                        }else {
                            //TODO : 화면에서 참가 리스트 갱신
                            makeParticipantList(result.userList);
                            initApplyCancel(result.reg_state);
                            
                            cur_num_users = result.userList.length;
                            
                            alert("참가신청이 되었습니다.");
                        }
                    }else {
                        alert("시스템 문제로 조회할 수 없습니다.");
                    }
                }
            });
        }
        
        function makeParticipantList(userList) {
            $("#present_condition").empty();
            var $applyTag = $("<p>* 신청현황 ("+userList.length+"/"+<%=data.num_participants%>+")</p>"),
                $divTag = $("<div class='image' id='participants'></div>");
            $("#present_condition").append($applyTag, $divTag).trigger("create");
            
            for(i=0; i<userList.length; i++) {
                console.log(userList[i]);
                var $pTag = $("<p></p>"),
                    $imgTag = $("<img class='ui avatar image' src='"+userList[i].user_img+"' onClick='infoUser("+userList[i].user_id+")' >"),
                    $spanTag = $("<span>"+userList[i].user_name+" ("+userList[i].sm_name+")</span>");
                    
                $("#participants").append($pTag, [$imgTag, $spanTag]).trigger("create");
            }
        }
        
        function availableApply() {
            /* 신청 가능한 상황
                1. 현재 참가인원이 모집인원보다 적음.
                2. 신청하는 일자가 마감일자 전임.
                3. 신청자의 잔여포인트가 참가포인트보다 많음
            */
            var num_participants = <%= data.num_participants %>;
            var dday = <%= data.dday %>;
            
            if(cur_num_users < num_participants) {
                if((new Date()).yyyymmdd() <= dday) {
                    
                    // 1. 포인트 체크는 서버사이드에서 구현
                    return true;
                    
                }else {
                    alert("마감 일자가 지나서 신청할 수 없습니다.");
                    return false;    
                }
            }else {
                alert("현재 참가한 인원이 정원을 채워 신청할 수 없습니다.");
                return false;
            }
        }
        
        Date.prototype.yyyymmdd = function()
        {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth() + 1).toString();
            var dd = this.getDate().toString();
        
            return yyyy + (mm[1] ? mm : '0'+mm[0]) + (dd[1] ? dd : '0'+dd[0]);
        }
        
        function makeParticipantList(userList) {
            $("#present_condition").empty();
            var $applyTag = $("<p>* 신청현황 ("+userList.length+"/"+<%=data.num_participants%>+")</p>"),
                $divTag = $("<div class='image' id='participants'></div>");
            $("#present_condition").append($applyTag, $divTag).trigger("create");
            
            for(i=0; i<userList.length; i++) {
                console.log(userList[i]);
                var $pTag = $("<p></p>"),
                    $imgTag = $("<img class='ui avatar image' src='"+userList[i].user_img+"' onClick='infoUser("+userList[i].user_id+")' >"),
                    $spanTag = $("<span>"+userList[i].user_name+" ("+userList[i].sm_name+")</span>");
                    
                $("#participants").append($pTag, [$imgTag, $spanTag]).trigger("create");
            }
        }
         
        
        // 해피데이 취소하기
        function cancelHappyday(happyday_id, req_point) {
            
            var data = {};
            data.happyday_id = happyday_id;
            data.req_point = req_point;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/cancelhappyday',
                success: function(result) {
                    if(result.status == 200){
                        //TODO : 화면에서 참가 리스트 갱신
                        makeParticipantList(result.userList);
                        initApplyCancel(result.reg_state);
                        
                        cur_num_users = result.userList.length;
                        
                        alert("참가 취소 되었습니다.");
                        
                    }else {
                        alert("시스템 문제로 조회할 수 없습니다.");
                    }
                }
            });
        }
        
        // 해피데이 완료하기
        function completeHappyday(happyday_id) {
            if(confirm("이번 해피데이 활동을 완료하시겠습니까?"))
            var data = {};
            data.happyday_id = happyday_id;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/completehappyday',
                success: function(result) {
                    if(result.status == 200){
                        $("#end_button").toggle("slow");
                        $("#complete_button").hide();
                        $("#incomplete_button").hide();
                    }else {
                        alert("시스템 문제로 완료할 수 없습니다.");
                    }
                }
            });
        }
        
        function likeHappyDay(happyday_id) {
            var data = {};
            data.happyday_id = happyday_id;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/likeHappyDay',
                success: function(result) {
                    $("#HD_like_cnt").empty();
                    $("#HD_like_cnt").empty();
                    $("#HD_like_cnt").append(result.cur_like_cnt).trigger("create");
                    
                    if(result.like_state == "Y"){
                        $("#likeY").show();
                        $("#likeN").hide();
                    }else {
                        $("#likeY").hide();
                        $("#likeN").show();
                    }
                }
            });
        }
        
        

        
        
        
        //해피데이 댓글 등록
        function RegReply(happyday_id) {
            var data = {};
            data.happyday_id = happyday_id;
            data.reply_contents = $("#reply_contents").val();
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/RegReply',
                success: function(result) {
                     ShowReply(result.insert_HDreply_rows, happyday_id);
                }
            });
        }
        
        //20170417_KJB::해당 댓글 수정
        function UpdateHDReply(happydayreply_id,happyday_id) {
            var data = {};
            data.happydayreply_id = happydayreply_id;
            data.HDreply_update_text = $("#HDreply_update_text"+happydayreply_id).val();
            data.happyday_id = happyday_id;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/UpdateHDReply',
                success: function(result) {
                    ShowReply(result.update_HDreply_rows, happyday_id);
                }
            });
        }
        
        
        //20170417_KJB::해당 댓글 삭제
        function DelHDReply(happydayreply_id, happyday_id) {
            var data = {};
            data.happydayreply_id = happydayreply_id;
            data.happyday_id = happyday_id;
            
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/DelHDReply',
                success: function(result) {
                    ShowReply(result.del_HDreply_rows, happyday_id);
                }
            });
        }
        
        //20170417_KJB::첫 Load때 수정 Form 모두 Hide
        function HideUpdateReplyForm()
        {
            $('.ui.update.form').hide();
            $('.ui.rereply.form').hide();
        }
        
        
        //20170417_KJB::수정 버튼 누르면 해당 수정Form 태그 Show
        function ShowUpdateReplyForm(happydayreply_id)
        {
            //updatereply_flag ==0 // :: 모든 update_textarea가 닫혀있는 상태
            //updatereply_flag ==? // :: reply_id=?의 update_textaera가 열려있는 상태
            if(updatereply_flag == 0 || updatereply_flag != happydayreply_id){
                $('.reply_contents').show();
                $('.ui.update.form').hide();                                 //Open 되어 있는거 모두 Hide
                 
                var contents_id = "#HDreply_contents"+happydayreply_id; 
                $(contents_id).hide();
                
                var update_form_id = "#updatereply_textarea"+happydayreply_id;
                $(update_form_id).show();
                updatereply_flag = happydayreply_id;
            }
            
            // textarea를 닫기만 원하는 경우
            else if(updatereply_flag == happydayreply_id){
                $('.reply_contents').show();
                $('.ui.update.form').hide();
            }
        }
        
        // 20170417:: 댓글 CRUD 하고 난뒤 새로 SHOW
        function ShowReply(reply_row, happyday_id)
        {
            
            $("#reply_list").empty();
            
            var $ui_comments = $("<div class='ui comments' id='reply_ui_comments' style='max-width:100em; background-color:#FDF5E6'></div>");
            $("#reply_list").append($ui_comments).trigger("create");
            
            var $ui_dividing_header = $("<h3 class='ui dividing header'>댓글</h3>");
            $("#reply_ui_comments").append($ui_dividing_header).trigger("create");
            
            //for문의 시작
            for(i=0;i<reply_row.length; i++){
            
                var $comment = $("<div class='comment' id='reply_comment"+reply_row[i].happydayreply_id+"'> </div>");
                $("#reply_ui_comments").append($comment).trigger("create");
          
                var $avatar = $("<a class='avatar' id='avatar"+reply_row[i].happydayreply_id+"'> </a>");
                $("#reply_comment"+reply_row[i].happydayreply_id).append($avatar).trigger("create");
        
                var $user_image = $("<img src='/images/avatar/small/elliot.jpg'> ");
                $("#avatar"+reply_row[i].happydayreply_id).append($user_image).trigger("create");
                
                var $reply_show_contents = $("<div class='content' id='reply_show_contents"+reply_row[i].happydayreply_id+"'> </div>");
                $("#reply_comment"+reply_row[i].happydayreply_id).append($reply_show_contents).trigger("create");
                
                var $author = $("<a class='author'>"+reply_row[i].user_name+"</a>");
                $("#reply_show_contents"+reply_row[i].happydayreply_id).append($author).trigger("create");
                
                var $reply_metadata = $("<div class='metadata' id='reply_metadata"+reply_row[i].happydayreply_id+"'> </div>");
                $("#reply_show_contents"+reply_row[i].happydayreply_id).append($reply_metadata).trigger("create");
                
                var $reply_date = $("<span class='data'>"+reply_row[i].date+"</span>");
                $("#reply_metadata"+reply_row[i].happydayreply_id).append($reply_date).trigger("create");
                
                var $reply_show_contents_div = $("<div class ='reply_contents' id='HDreply_contents"+reply_row[i].happydayreply_id+"'>");
                $("#reply_show_contents"+reply_row[i].happydayreply_id).append($reply_show_contents_div).trigger("create");
                
                var $reply_show_contents_ptag = $("<p>"+reply_row[i].HDreply_contents+"</p>");
                $("#HDreply_contents"+reply_row[i].happydayreply_id).append($reply_show_contents_ptag).trigger("create");
                
                
                //수정 Textarea 생성
                var $ui_update_form = $("<form class='ui update form' id='updatereply_textarea"+reply_row[i].happydayreply_id+"' style='display: none;'> </form>")
                $("#reply_show_contents"+reply_row[i].happydayreply_id).append($ui_update_form).trigger("create");
                
                var $ui_update_field = $("<div class='field' id='field"+reply_row[i].happydayreply_id+"'>  </div>");
                $("#updatereply_textarea"+reply_row[i].happydayreply_id).append($ui_update_field).trigger("create");
                
                var $ui_update_textarea = $("<textarea style='resize: none;' maxlength='70' id='HDreply_update_text"+ reply_row[i].happydayreply_id+"'>"+reply_row[i].HDreply_contents +"</textarea>");
                $("#field"+reply_row[i].happydayreply_id).append($ui_update_textarea).trigger("create");
                
                var $submit_update_reply_button = $("<div class='ui green labeled submit icon button'  id='submit_update_reply_button"+reply_row[i].happydayreply_id+"' onClick='UpdateHDReply("+reply_row[i].happydayreply_id+ "," +happyday_id+")' </div> ");
                $("#updatereply_textarea"+reply_row[i].happydayreply_id).append($submit_update_reply_button).trigger("create");
                
                var $reply_update_icon = $("<i class='icon edit'> </i>");
                $("#submit_update_reply_button"+reply_row[i].happydayreply_id).append($reply_update_icon,"수정").trigger("create");
     
               
                var $reply_action = $("<div class='actions' id='reply_action"+reply_row[i].happydayreply_id+"'> </div>");
                $("#reply_show_contents"+reply_row[i].happydayreply_id).append($reply_action).trigger("create");
                
                // var $rereply_button = $("<a class= 'reply' onClick='rereply_show_hide()'> 답글// 답글취소</a>");
                // $("#reply_action"+reply_row[i].happydayreply_id).append($rereply_button).trigger("create");
                
                var $reply_update_button = $("<a onClick='ShowUpdateReplyForm("+reply_row[i].happydayreply_id+")'> 수정 </a>");
                $("#reply_action"+reply_row[i].happydayreply_id).append($reply_update_button).trigger("create");
                
                var $reply_del_button = $("<a onClick='DelHDReply("+reply_row[i].happydayreply_id+","+happyday_id+")'> 삭제 </a>");
                $("#reply_action"+reply_row[i].happydayreply_id).append($reply_del_button).trigger("create");
                
            }    
            
           
            //댓글 작성 textarea ,,,, 히미드르
            var $ui_reply_form = $("<form class='ui reply form' id='ui_reply_form'> </form>");
            $("#reply_ui_comments").append($ui_reply_form).trigger("create");
            
            var $div_class_field = $("<div class='field' id ='reply_field'> </div>");
            $("#ui_reply_form").append($div_class_field).trigger("create");
            
            var $reply_textarea = $("<textarea id='reply_contents' style='resize:none; maxlength='70'  ' </textarea>");
            $("#reply_field").append($reply_textarea).trigger("create");
            
            var $div_button_field = $("<div class='ui green labeled submit icon button' id='reply_reg_button' onClick='RegReply("+happyday_id+")'> </div>");
            $("#ui_reply_form").append($div_button_field).trigger("create");
            
            var $i_class_icon = $("<i class='icon edit'> </i>");
        	$("#reply_reg_button").append($i_class_icon,"등록").trigger("create");
        }
        
        
    </script>

    <style type="text/css">
        @import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
        body {
            font-family: 'Jeju Gothic', serif !important;
            background-color:#e2e2e2;
        }
        textarea {
            height: 2em;
        }
        
        .ui.card>.content>.header,
        .ui.cards>.card>.content>.header {
            display: block;
            font-family: 'Jeju Gothic', serif;
            color: rgba(0, 0, 0, .85);
        }
        
        .ui link cards {
            margin-top: 30p;
        }
        
        .ui.image.label {
            margin-top: .4em;
        }
        
        #mapArea{
            margin-bottom:20px;width:100%;height:300px;clear:both;
        }

    </style>

</head>

<body>
    <!-- Navigation -->
    <% include ../partials/navigation.ejs %>
    <!-- Page Content -->
    <div class="ui container">
        <div class="content">
            <div class="ui segments">
                <div class="ui segment" style="background-color:#ffB914;">
                    <div class="header" href="#"><span style="font-family: 'Jeju Gothic'; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; line-height: 1.2; font-size:1.5em; letter-spacing:-1.4px; width:100%; color:#FFFFFF"><%= data.happyday_name %></span></div>
                </div>
                <div class="ui segment">
                    <img class="ui centered fluid image" src="<%=data.img_url%>" style = "max-height:600px; max-width:800px" >
                </div>
            </div>
            
            <div class="ui segments" style="margin-bottom:150px">
                <!--<div class="ui segment" style="background-color:#FFF000">-->
                <div class="two ui buttons">
                    <button class="yellow ui button" id="detailBtn" onClick="javascript:goDetail('<%=data.happyday_id%>')">상세보기</button>
                    <button class="ui button" id="postBtn" onClick="javascript:goPostList('<%=data.happyday_id%>')"><span style="color:000000">후기보기</span></button>
                </div>

                <div class="ui horizontal segments" style="background-color:#FFFFFF">
                    <div class="ui segment" style="width:50%">
                        <div class="image">
                            <img class="ui avatar image" src="<%=data.user_img%>" onclick="javascript:infoUser('<%=data.reg_user_id%>')"> 
                            <span> 작성자 : <%= data.user_name %> </span>
                        </div>

                    </div>    
                    <div class="ui segment" style="width:50%">
                            <p style="margin-top:7px"> 등록 : <%= data.reg_dtm %> </p>
                    </div>
                </div>
                <div class="ui segment">
                    <span style="color:#ee5252">
                        <span id='category'>#<%=data.category_code%> </span>
                        <span id='category2'>#<%=data.category_code2%> </span>
                        <span id='category3'>#<%=data.category_code3%></span>
                        
                        <!--<button class='ui red button' id='category'>#<%=data.category_code%></button>-->
                        <!--<button class='ui red button' id='category2'>#<%=data.category_code2%></button>-->
                        <!--<button class='ui red button' id='category3'>#<%=data.category_code3%></button>-->

                </div>

                
                <div class="ui segment">
                    <div class="ui labeled button" tabindex="0" style="background-color:#000000" onClick="javascript:likeHappyDay('<%=data.happyday_id%>')">

                        <div class="ui red button" id="likeY" > 
                            <i class="like icon"></i> 좋아요
                        </div>
                        <div class="ui gray button" id="likeN" >
                            <i class="like icon"></i> 좋아요
                        </div>
                            

                        <a class="ui basic white left pointing label" id="HD_like_cnt"><%=HD_like.like_cnt%></a>
                    </div>
                    <div class="ui labeled button" tabindex="0" style="background-color:000000">
                        <a class="ui white button" href="#reply_list">
                            <i class="talk outline icon"></i> 댓글
                        </a>
                        <a class="ui basic white left pointing label">2</a>
                    </div>
                </div>
                

                
                <div class="ui segment"><table class="ui definition table">
                        <tbody>
                            <tr style = 'max-height:50px'>
                                <td class="two wide column" style = "margin-top: -15px;">출발일시</td>
                                <td><%= data.happyday_date %> (<%= data.happyday_week%>) <%= data.happyday_time %></td>
                            </tr>
                            <tr style = 'max-height:50px'>
                                <td style = "margin-top: -15px;">장 소</td>
                                <td><%= data.place_name %></td>
                            </tr>
                            <tr style = 'max-height:50px'>
                                <td style = "margin-top: -15px;">모집정원</td>
                                <td><%= data.num_participants %>명</td>
                            </tr>
                            <tr style = 'max-height:50px'>
                                <td style = "margin-top: -15px;">모집기간</td>
                                <td><%= data.reg_dtm %>(<%= data.reg_week%>) ~ <%= data.dday_dt %>(<%= data.dday_week%>)</td>
                            </tr>
                            <tr>
                                <td style = "margin-top: -15px; letter-spacing:-1px" >차감포인트</td>
                                <td><%= data.req_point%>P 
                                    <div class="ui accordion">
                                        <div class="title">
                                            <i class="dropdown icon" width=25 style = "color:#222fff; margin-left: -5px";></i>
                                            <span style="white-space: pre-wrap; font-size:1.1em; font-family:'Jeju Gothic', serif !important; color:#222fff; margin-left: -5px">상세내역보기</span>
                                        </div>
                                        <div class="content">
                                            <pre class="KJB" style="white-space: pre-wrap; font-size:1em; font-family:'Jeju Gothic', serif !important; margin-left: 15px; " > <p style="margin-top:-20px"><%=data.point_rsn%></p> </pre>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>  
                            <tr>
                                <td style = "margin-top: -15px;">활동내용</td>
                                <td><pre style="white-space: pre-wrap; font-size:1em; font-family:'Jeju Gothic', serif !important; " ><%= data.happyday_contents %></pre></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui segment">
                    <div id="mapArea"></div>
                    <script>
                        var mapContainer = document.getElementById('mapArea')    // 지도 표시 div
                        var mapOption = {
                                center : new daum.maps.LatLng(<%=data.place_latitude%>,<%=data.place_longitude%>),    //지도 중심좌표
                                level : 3 //지도 확대레벨
                            };
                        
                        var map = new daum.maps.Map(mapContainer, mapOption); //지도 생성
                        
                        var markerPosition = new daum.maps.LatLng(<%=data.place_latitude%>,<%=data.place_longitude%>);    //마커 표시좌표
                        var marker = new daum.maps.Marker({    //마커 생성
                             position : markerPosition
                        });
                        marker.setMap(map);    //마커 지도위에 표시
                        
                        var infowindow = new daum.maps.InfoWindow({    //장소명 생성
                            // content: '<div style="width:150px;text-align:center;padding:6px 0;"></div>'
                        });
                        // infowindow.open(map, marker);    //장소명 표시
                        
                        var mapTypeControl = new daum.maps.MapTypeControl(); // 지도 타입 전환 컨트롤 생성
                        map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
                        
                        var zoomControl = new daum.maps.ZoomControl();    // 지도 줌 컨트롤 생성
                        map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
 
                        map.setDraggable(false);
                        map.setZoomable(false); 
                        
                    </script>
                </div>
                <% var i = 0 %>
                <div class="ui segment" id="present_condition">
                    <h3 class="ui dividing header">신청현황 (<%=userList.length%>/<%=data.num_participants%>)</h3>
                    <div class="image">
                        <% for (var i = 0; i < userList.length; i++) { %>
                            <p><img class="ui avatar image" src="<%=userList[i].user_img%>" onclick="javascript:infoUser('<%=userList[i].user_id%>')">
                            <span> <%=userList[i].user_name%> (<%=userList[i].sm_name%>) </span></p>
                        <% } %>
                    </div>
                </div>
                
                <div class="ui right aligned segment">
                    <button class="ui primary button" id="modify_button" style="display: none" onClick="javascript:modifyHappyday('<%=data.happyday_id%>')">수정</button>
                    <button class="ui button" id="delete_button" style="display: none" onClick="javascript:deleteHappyday('<%=data.happyday_id%>')">삭제</button>
                    <button class="ui primary button" id="apply_button" style="display: none" onClick="javascript:applyHappyday('<%=data.happyday_id%>', '<%=data.req_point%>')">신청하기</button>
                    <button class="ui button" id="cancel_button" style="display: none" onClick="javascript:cancelHappyday('<%=data.happyday_id%>', '<%=data.req_point%>')">신청취소</button>                        
                    <button class="ui orange button" id="complete_button" style="display: none" onClick="javascript:completeHappyday('<%=data.happyday_id%>')">완료하기</button>                        
                    <button class="ui button" id="incomplete_button" style="display: none" onClick="javascript:incompleteHappyday('<%=data.happyday_id%>', '<%=data.req_point%>')">미완료</button>                        
                    <button class="ui black button" id="end_button" style="display: none" onClick="">활동 완료</button>                        
                </div>
                
   <div class="ui segment" id="reply_list">
	<h3 class="ui dividing header">댓글</h3>
	<div class="ui comments" id="reply_ui_comments" style="max-width:100em; background-color:#FDF5E6">
		
		 <% for (var i = 0; i < hd_reply.length; i++) { %>
             <div class="comment">
			    <a class="avatar">
			    <img src="/images/avatar/small/elliot.jpg">
			    </a>
		    	<div class="content">
			    	<a class="author"><%=hd_reply[i].user_name%></a>
			    	<div class="metadata">
				    	<span class="date"><%=hd_reply[i].date%></span>
			    	</div>
    				<div class="reply_contents" id="HDreply_contents<%=hd_reply[i].happydayreply_id%>">
    					<p>
    						 <%=hd_reply[i].HDreply_contents%>
    					</p>
    				</div>
    				<form class="ui update form" id ="updatereply_textarea<%=hd_reply[i].happydayreply_id%>">
		         	        <div class="field">
			        	        <textarea style="resize: none; " style="" id="HDreply_update_text<%=hd_reply[i].happydayreply_id%>" maxlength="70"> <%=hd_reply[i].HDreply_contents%></textarea>
		        	        </div>
		        	        <div class="ui green labeled submit icon button " onClick="javascript:UpdateHDReply(<%=hd_reply[i].happydayreply_id%>, <%=hd_reply[i].happyday_id%>)">
			        	        <i class="icon edit" ></i> 수정
		        	        </div>
	        	    </form>
    				
    				<div class="actions" id="reply_action<%=hd_reply[i].happydayreply_id%>">
    					<a onClick="javascript:ShowUpdateReplyForm(<%=hd_reply[i].happydayreply_id%>)" > 수정</a>
    					<a onclick="javascript:DelHDReply(<%=hd_reply[i].happydayreply_id%>, <%=hd_reply[i].happyday_id%>)"> 삭제</a>
    				</div>
    				<div>
				        <form class="ui rereply form" id ="rereply_textarea<%=hd_reply[i].happydayreply_id%>">
		         	        <div class="field">
			        	        <textarea style="resize: none;"></textarea>
		        	        </div>
		        	        <div class="ui right aligned segment">
		        	        <div class="ui green labeled submit icon button">
			        	        <i class="icon edit" ></i> 등록
		        	        </div>
		        	        </div>
	        	        </form>
			        </div>
		    	</div>
	    	</div>
         <% } %>
		
    		<form class="ui reply form" >
    		    
    			<div class="field">
    				<textarea id="reply_contents" style="resize: none; height:0.5em"></textarea>
    			</div>
    					        	        
    			<div class="ui green labeled submit icon button" onClick="javascript:RegReply('<%=data.happyday_id%>')">
    				<i class="icon edit" ></i> 등록
    			</div>
    	
    		</form>
	    
   </div>
  </div>
 </div> <!-- content -->

    <!--사용자 프로필 Modal -->
    <div class="ui modal" >
        <div class="image content">
            <div class="ui medium image" id='modal_user_img' >
            </div>
            <div class="description">
                <div class="ui header" id="usermodal">
                    <span id="modal_user_name"> </span> <p></p>
                    <span id="modal_user_sm_name"> </span> <p></p>
                    <span id="modal_user_phone_number"> </span>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                확인
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <!--    <div class="header">===이전 관련 활동보기===</div>-->
    <!--    <div class="ui link cards">-->
    <!--        <div class="card">-->
    <!--            <div class="image">-->
    <!--                <img src="http://www.image114.co.kr/files/attach/images/170/065/039/DSC_3496.png">-->
    <!--            </div>-->
    <!--            <div class="content">-->
    <!--                <div class="header">Matt Giampietro</div>-->
    <!--                <div class="meta">-->
    <!--                    <a>Friends</a>-->
    <!--                </div>-->
    <!--                <div class="description">-->
    <!--                    Matthew is an interior designer living in New York.-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="extra content">-->
    <!--                <span class="right floated">-->
    <!--    Joined in 2013-->
    <!--  </span>-->
    <!--                <span>-->
    <!--    <i class="user icon"></i>-->
    <!--    75 Friends-->
    <!--  </span>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    </div>

</body>



</html>