<!DOCTYPE html>
<html>
  <head>
    <title>Happy App</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <!--jquery js -->
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/jquery.min.js"></script>
    <!-- Semantic ui js -->
    <script src="/dist/semantic.min.js"></script>
    <!--script src="/dist/components/visibility.js"></script>
    <script src="/dist/components/sidebar.js"></script>
    <script src="/dist/components/transition.js"></script-->
    
    <!-- Semantic ui CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />

    <!-- Custom CSS -->
    <!--link href="../stylesheets/common.css" rel="stylesheet"-->
    
    <script style="text/javascript">
      $(document)
        .ready(function() {
          /* 본인이면 수정 가능하도록 input elements enable 및 수정버튼 표시
             타인이면 input elements disable 및 수정버튼 미표시 */
          var page_user_id = <%=data.id %>
          var session_user_id = <%=session.user_id%>
          
          if(page_user_id != session_user_id) read_mode();
            else modify_mode();
        
          $(".ui.submit").click(function() {
            
              var userData = {};
              userData.user_id = page_user_id;
              userData.phone_number = $("#phone_number").val();
              userData.birthday = $("#birthday").val();
              //userData.blood_type = $("#blood_type").val();
              //userData.address = $("#address").val();
              userData.user_img = $("#user_img").val();
              userData.home_town = $("#home_town").val();
              
              console.log(JSON.stringify(userData));
              
              $.ajax({
                type: 'POST',
                data: JSON.stringify(userData),
                contentType: 'application/json',
                datatype: "json", // expecting JSON to be returned
                url: '/user',
                success: function(result) {
                  console.log(result);
                  if(result.status == 200){
                      alert("수정되었습니다");
                      $(".bordered.image").attr("src", result.user_img).trigger("create");
                  }
                }
              });
            });
          
        });
        
      function modify_mode() {
        /* 본인이 정보 조회 시 수정가능하도록 UI 설정 */
      }
      
      function read_mode() {
        /* 타인이 정보 조회 시 UI 설정 */  
        $('.ui.button').hide();
        $('input').attr('readonly',true);
      }
    
    </script>
    
    <style type="text/css">
      .ui[class*="left icon"].input>input {
        padding-left: 3.67142857em!important;
      }
      .ui[class*="two column"].grid>.column:not(.row),.ui[class*="two column"].grid>.row>.column{width:380px;}
      .ui.grid>.column:not(.row) {
        padding-top: 3rem;
        padding-bottom: 1rem;
      }
      .ui.feed>.event>.content .extra.images img {
        margin: 0 .25em 0 0;
        width: 15em;
      }
    </style>
    
  </head>
  
  <body>
    <% include ./partials/navigation.ejs %>
    
    <div class="ui container">
      <div class="content">
        <div class="ui stackable two column grid">
          <div class="column">
            <div class="ui card">
              <div class="content">
                <div class="header"><i class="spy icon"></i><%=data.user_name%></div> <!-- junior : child, senior : spy, manager : users -->
                <h4 class="ui sub header"><%=data.sm_name%>(<%=data.team_name%>)</h4>
              </div>
              <div class="content">
                <h4 class="ui sub header">기본 정보</h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                         <div class="ui left icon input">
                           <input type="text" value=<%=data.email%> readonly>
                           <i class="large mail icon"></i>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                         <div class="ui left icon input">
                           <input type="text" id="phone_number" value=<%=data.phone_number%>>
                           <i class="large text telephone icon"></i>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        <div class="ui left icon input">
                           <input type="text" id="birthday" value=<%=data.birthday%>>
                           <i class="large birthday icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- end of basic info -->
                <!-- 부가 정보 - 혈액형,주소,고향(사용자가 공개, 비공개 설정 가능)-->
                <h4 class="ui sub header">추가 정보</h4>
                <div class="ui small feed">
                  <!--div class="event">
                    <div class="content">
                      <div class="summary">
                        <div class="ui selection dropdown">
                          <input name="gender" type="hidden">
                          <i class="dropdown icon"></i>
                          <div class="default text">혈액형</div>
                          <div class="menu">
                            <div class="item" data-value="A">A형</div>
                            <div class="item" data-value="0">Female</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div-->
                  <!--div class="event">
                    <div class="content">
                      <div class="summary">
                        <div class="ui left icon input">
                           <input type="text" id="address" value=<%=data.address%>>
                           <i class="large hotel icon"></i>
                        </div>
                      </div>
                    </div>
                  </div-->
                  <!--div class="event">
                    <div class="content">
                      <div class="summary">
                        <div class="ui left icon input">
                           <input type="text" placeholder="고향" id="home_town" value=<%=data.home_town%>>
                           <i class="large home icon"></i>
                        </div>
                      </div>
                    </div>
                  </div-->
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        <div class="ui labeled input"><!--#A5673F-->
                  				<div class="ui label" style="background:ORANGE; color:white">
                  					 <i class="image icon"> URL</i>
                  				</div>
                  				<input type="text" placeholder="IMAGE URL" id="user_img" maxlength="150" value=<%=data.user_img%>>
                  			</div>
                  		</div>
                  	</div>
                  </div>
                  <div class="event">
                    <div class="content">
                      <div class="extra images">
        			  	      <img class="ui medium bordered image" src="<%=data.user_img%>" height="6em">
                      </div>
                		</div>
            			</div>
                </div> <!-- end of add info --> 
              </div>
              
              <div class="extra content">
                <button class="ui black button submit">수정</button>
              </div>
            </div> <!-- end div of info card -->
          </div>  
          <div class="column">
            <div class="ui card">
              <div class="content">
                <!--i class="right floated like icon"></i-->
                <div class="header">TEAM ACTIVITY</div> 
              </div>
              <div class="content">
                <h4 class="ui sub header">point & mileage</h4>
                <div class="ui small feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.happy_point%> readonly>
                         <i class="large product hunt icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <div class="ui left icon input">
                         <input type="text" value=<%=data.mileage%> readonly>
                         <i class="large gift icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div> <!-- end div of grid -->
          <div class="column"></div>
        </div>
      </div>
    </div> <!-- end div of container -->    
      

  </body>
</html>